.TwoColumnWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  min-height: 100%;
  color: var(--main-text);

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;

  text-transform: uppercase;
  color: var(--primary-50);
}

.ProjectDescription {
  margin-bottom: 40px;
}

.ProjectButton {
  padding: 12px 24px;
}

.ViewSiteButton {
  background: var(--header-text);
  color: var(--primary-button-text);

  margin-right: 20px;
}

.GitHubButton {
  border: var(--header-text) 1px solid;
  color: var(--secondary-button-text);
}
