.HorizontalGallery {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
}

.GalleryDirectionButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  height: 40px;
}

.GalleryDirectionIcon {
  height: 100%;
  color: var(--theme-icon);
}
