.GalleryItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}

.ProjectDescription {
  margin-bottom: 80px;
  word-break: break-word;
}

.ProjectButton {
  padding: 12px 24px;
}

.ViewSiteButton {
  background: var(--header-text);
  color: var(--primary-button-text);

  margin-right: 20px;
}

.GitHubButton {
  border: var(--header-text) 1px solid;
  color: var(--secondary-button-text);
}

.ProjectTitle {
  color: var(--header-text);
  font-size: 60px;
  margin-bottom: 48px;
}

.description {
  font-size: 24px;
  color: var(--main-text);
}

.RightColumn {
  text-align: right;
}
