.TwoColumnWrapper {
  display: grid;
  grid-template-columns: 20vw 1fr;
  min-height: 100%;
}

// .RightColumn {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0;

  text-transform: uppercase;
  color: var(--primary-50);
}

.Behavioural {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary {
  font-weight: 300;
  font-size: 38.83px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;

  color: var(--header-text);
}

.description {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;

  color: var(--main-text);
  width: 50%;
}

.SkillsWrapper {
  color: var(--main-text);
}

.Skills {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 31px;
}
