.ModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000;
  overflow: scroll;
}

.Modal {
  position: absolute;
  background-color: var(--main-bg);
  color: var(--main-text);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Heading {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Heading__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.CloseModalButton {
  border: none;
  background: transparent;
  color: var(--main-text);
  cursor: pointer;
  font-size: 30px;
}

.NavWrapper {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  padding-right: 80px;
  text-transform: uppercase;
}

.hideModal {
  visibility: hidden;
}

.Nav__List__item {
  font-size: 2rem;
  font-weight: 300;

  a::after {
    content: '.';
    padding-left: 5px;
  }
}

.Nav__List__item--active {
  a::before {
    content: '';
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background: var(--button-hover);
    border-radius: 50%;
    display: inline-block;
  }
}

.ThemeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ThemeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  height: 30px;
}

.ThemeIcon {
  height: 100%;
  color: var(--theme-icon);
}

.Theme {
  font-size: 14.83px;
}

.Socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
  column-gap: 15px;
  font-weight: 300;
  font-size: 24px;
  color: var(--main-text);
  word-break: break-all;
}

.Socials__List_Item {
  a::after {
    content: '.';
  }
}

.Footer {
  margin-bottom: 30px;
}

.Name {
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  word-break: break-word;
}
