$nav-font-weight: 300;
$nav-font-size: 24px;

.Nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  color: var(--main-text);
  font-weight: $nav-font-weight;
  text-transform: uppercase;
}

.Nav__title {
  font-size: $nav-font-size;
  font-weight: $nav-font-weight;
  line-height: 32.4px;

  &:hover {
    color: var(--button-hover);
  }
}

.Nav__title--span {
  display: block;
}

.Nav__List {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: $nav-font-size;
    list-style-type: none;
  }
}

.Nav__List__item {
  padding: 0 10px;

  &:hover {
    color: var(--button-hover);
  }
}

.ModalOpenButton {
  border: none;
  background: transparent;
  color: var(--main-text);
  cursor: pointer;
  font-size: 24px;
  height: 25px;
  width: 25px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
